html {
    background-color: rgb(33, 33, 36);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.hidden {
    display:none
}

.nav {
    background-color: rgb(56, 63, 77);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    h2 {
        color: white;
        font-size: 18pt;
        align-self: center;
    }
}

main {
    max-width: 1000px;
    margin: auto;
    padding: 0 10px 0 10px;
    h2 {
        font-size: 14pt;
        margin: 20px 0 20px 0;
    }
}

.messagesBox{
    height: 70vh;
    overflow-y: scroll;
    padding-right:4px;
    padding-top:20px;
    padding-left: 14px;
    box-sizing: border-box;
    background-color: rgb(24, 24, 26);
}

#messages {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    .baseMessage {
        max-width: 300px;
        min-width: 100px;
        padding: 10px;
        h3 {
            font-weight: bold;
            margin-bottom:6px;
        }
    }
    .newMessage {
        background-color: darkmagenta;
        border-radius: 10px 10px 10px 0px;
        align-self: flex-start;
    }
    .myMessage {
        background-color: darkgreen;
        border-radius: 10px 10px 0px 10px;
        align-self: flex-end;
    }
}

.messageBoxForm {
    max-width: 1000px;
    height: 40px;
    display: flex;

    .textArea {
        width: 80%;
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px;
    }
    
    .sendButton {
        width: 20%;
    }
}